<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb_0_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{1,1},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_1_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{35,1},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bomb_2_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{69,1},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bomb_n.png</string>
            <key>size</key>
            <string>{102,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:715b9df702d4597b1f5a6c4a18e4cccf:3c61d5f4c73a5226527d0411e8e66cdf:e0542ab3e817eae87ac5e0bc01e37d05$</string>
            <key>textureFileName</key>
            <string>bomb_n.png</string>
        </dict>
    </dict>
</plist>
