<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fox_climb_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fox_climb_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{33,0},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fox_climb_.png</string>
            <key>size</key>
            <string>{66,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0954c0d98929a9a117afaeaf6e39e35f:cf1adbf773c6ba52c7cb19135b9c0322:4123bdd47cbd561b836df404c1b52b4d$</string>
            <key>textureFileName</key>
            <string>fox_climb_.png</string>
        </dict>
    </dict>
</plist>
