<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>throw_bomb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-4}</string>
                <key>spriteSize</key>
                <string>{30,24}</string>
                <key>spriteSourceSize</key>
                <string>{40,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{30,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fox_bomb_throw_.png</string>
            <key>size</key>
            <string>{32,26}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b88fae290ce0210ac966e3384f5c33e:1c11c0d35b1c7c3d962064bc7bd7d98a:6d8a12433da29f783c4a4eb3c55ee724$</string>
            <key>textureFileName</key>
            <string>fox_bomb_throw_.png</string>
        </dict>
    </dict>
</plist>
