<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pickaxe_attack_under_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickaxe_attack_under_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,32}</string>
                <key>textureRect</key>
                <string>{{39,0},{39,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickaxe_attack_under_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,32}</string>
                <key>textureRect</key>
                <string>{{78,0},{39,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fox_pickaxe_attck_under_.png</string>
            <key>size</key>
            <string>{117,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:363203c54a92cc3609cbcbeb05c23e2f:228d6cc1260b1b07b9fc5dbbc3547bc1:3a834afd134eaedb51e7c67ab2e0b90c$</string>
            <key>textureFileName</key>
            <string>fox_pickaxe_attck_under_.png</string>
        </dict>
    </dict>
</plist>
