<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pickaxe_attack_under_0_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{39,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickaxe_attack_under_1_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,32}</string>
                <key>textureRect</key>
                <string>{{39,0},{39,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickaxe_attack_under_2_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,32}</string>
                <key>spriteSourceSize</key>
                <string>{39,32}</string>
                <key>textureRect</key>
                <string>{{78,0},{39,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fox_pickaxe_attck_under_n.png</string>
            <key>size</key>
            <string>{117,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22bff926c3425cdf2563e36c4598e23b:37810e49369624febaa464c73537a3ec:e84a9eb4dda36b22c4be286769390a52$</string>
            <key>textureFileName</key>
            <string>fox_pickaxe_attck_under_n.png</string>
        </dict>
    </dict>
</plist>
