<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sword_attack_0_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_attack_1_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{55,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_attack_2_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{110,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_attack_3_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{165,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_attack_4_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{220,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fox_sword_attack_n.png</string>
            <key>size</key>
            <string>{275,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a84540eb71c320e6c916c7b02b66bd43:b37ee28b1b19ae1ca62d93e369edd210:d313060eda8565f8feb3673c5886bdd0$</string>
            <key>textureFileName</key>
            <string>fox_sword_attack_n.png</string>
        </dict>
    </dict>
</plist>
