<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sword_attack_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_attack_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{55,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_attack_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{110,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_attack_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{165,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_attack_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{220,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fox_sword_attack_.png</string>
            <key>size</key>
            <string>{275,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12749fbea971dc92c52a83785b5fecd7:18c1ac69f6538cccf3672d0fc5cf7a30:48e6e90142f2cac9ebcf6363ac56e649$</string>
            <key>textureFileName</key>
            <string>fox_sword_attack_.png</string>
        </dict>
    </dict>
</plist>
