<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sword_attack_0_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_attack_1_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{55,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_attack_2_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,60}</string>
                <key>spriteSourceSize</key>
                <string>{55,60}</string>
                <key>textureRect</key>
                <string>{{110,0},{55,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fox_sword_attack__n.png</string>
            <key>size</key>
            <string>{165,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a6d85d4be36217db9a6b47651f018248:6aacb338da44f812be54b98ebebf77d8:55a6760a9db4f80a1a3c6e7ba725f008$</string>
            <key>textureFileName</key>
            <string>fox_sword_attack__n.png</string>
        </dict>
    </dict>
</plist>
