<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skel_pain_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skel_pain_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skel_pain_.png</string>
            <key>size</key>
            <string>{128,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a463842fde649e3f6233e9bfa73f2e0a:e755d955a866e5f719e13a89d9a2c14b:117d38327dfadff790470cd727dec418$</string>
            <key>textureFileName</key>
            <string>skel_pain_.png</string>
        </dict>
    </dict>
</plist>
