<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skel_pain_0_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skel_pain_1_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skel_pain_n.png</string>
            <key>size</key>
            <string>{128,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f7261937acf0cc5758ea3f850d5084e:396a94fb8bedd367f8c2ca09f009b831:f01743bbc53f1ab8971483f6cafb2f22$</string>
            <key>textureFileName</key>
            <string>skel_pain_n.png</string>
        </dict>
    </dict>
</plist>
