<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss_Pattern_B_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_B_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,490},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_B_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,980},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_B_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,1470},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_Pattern_B_.png</string>
            <key>size</key>
            <string>{550,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3beeefbee628868d233038484c759a8:a70804fb0d7331591d31259e0e609aef:f2182a1b132bf28ceb1e3e88c78a42f5$</string>
            <key>textureFileName</key>
            <string>Boss_Pattern_B_.png</string>
        </dict>
    </dict>
</plist>
