<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss_Pattern_D_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_D_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,490},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_D_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,980},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_D_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,1470},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_Pattern_D_.png</string>
            <key>size</key>
            <string>{550,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a695b7750b0b66ae0a9d0ed7eae0916:41048e98fdd10ad7fe619e31667e773c:d7527c920a050fb477a793957826365c$</string>
            <key>textureFileName</key>
            <string>Boss_Pattern_D_.png</string>
        </dict>
    </dict>
</plist>
