<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss_Idle_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Idle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{550,0},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Idle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{1100,0},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Idle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,490},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Idle_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{550,490},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_idle_.png</string>
            <key>size</key>
            <string>{1650,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68d7d8bff34c7e3436216cc2ffe28115:2baf879e5277e6ef55237755b0f6fae1:a15f93c1326a5a6c36b2f8705679be5f$</string>
            <key>textureFileName</key>
            <string>Boss_idle_.png</string>
        </dict>
    </dict>
</plist>
