<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss_Pattern_C_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_C_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{80,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_C_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{160,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_C_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{240,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_C_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{320,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_Pattern_C_.png</string>
            <key>size</key>
            <string>{400,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8954256a6ba4a39c59def1c243061f5e:84a78d34a90ebd00504042af464e170d:c95cb8ec8d011397569a89e04751930e$</string>
            <key>textureFileName</key>
            <string>Boss_Pattern_C_.png</string>
        </dict>
    </dict>
</plist>
