<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BossCore_Pain_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,128}</string>
                <key>spriteSourceSize</key>
                <string>{80,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{80,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BossCore_Pain_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,132}</string>
                <key>spriteSourceSize</key>
                <string>{116,132}</string>
                <key>textureRect</key>
                <string>{{80,0},{116,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_Pain.png</string>
            <key>size</key>
            <string>{196,132}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08f75ca240b7396b1e823e9e3a74c859:ffca8dbe530c6421645259277c63ac77:f55046a6aa5b6aa9ea126fc1d4b17e96$</string>
            <key>textureFileName</key>
            <string>Boss_Pain.png</string>
        </dict>
    </dict>
</plist>
