<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss_Pattern_A_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,0},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_A_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,490},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_A_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,980},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Boss_Pattern_A_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{550,490}</string>
                <key>spriteSourceSize</key>
                <string>{550,490}</string>
                <key>textureRect</key>
                <string>{{0,1470},{550,490}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Boss_Pattern_A_.png</string>
            <key>size</key>
            <string>{550,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed1ecb946d3c5076db427b27018bf4c1:93a8d741e9614d0d5abfaca7d96b04fe:2bd2cb78cecfbda66f52d58a8d9eaee7$</string>
            <key>textureFileName</key>
            <string>Boss_Pattern_A_.png</string>
        </dict>
    </dict>
</plist>
