<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire_column_medium_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{0,0},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{40,0},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{40,528},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{80,528},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{0,704},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{40,704},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{80,704},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{80,0},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{0,176},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{40,176},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{80,176},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{0,352},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{40,352},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{80,352},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_column_medium_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,176}</string>
                <key>spriteSourceSize</key>
                <string>{40,176}</string>
                <key>textureRect</key>
                <string>{{0,528},{40,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fire_column_medium_.png</string>
            <key>size</key>
            <string>{120,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f41ff4f1798f75e9289f7259f23f6a0a:2713c32eca37b2282ff4e9bd75ee721d:664060fb6009164c7001a83396960598$</string>
            <key>textureFileName</key>
            <string>Fire_column_medium_.png</string>
        </dict>
    </dict>
</plist>
