<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LavaFall_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,384}</string>
                <key>spriteSourceSize</key>
                <string>{32,384}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavaFall_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,384}</string>
                <key>spriteSourceSize</key>
                <string>{32,384}</string>
                <key>textureRect</key>
                <string>{{0,384},{32,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavaFall_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,384}</string>
                <key>spriteSourceSize</key>
                <string>{32,384}</string>
                <key>textureRect</key>
                <string>{{0,768},{32,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LavaFall.png</string>
            <key>size</key>
            <string>{32,1152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f190f564b130257817fb98cba9f9b75:895c76b23e7ed1b9ab1cc2740ee6b292:a21a90347b3742c2f33e52f7899ca9ae$</string>
            <key>textureFileName</key>
            <string>LavaFall.png</string>
        </dict>
    </dict>
</plist>
