<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>LavaFall_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,384}</string>
                <key>spriteSourceSize</key>
                <string>{32,384}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavaFall_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,384}</string>
                <key>spriteSourceSize</key>
                <string>{32,384}</string>
                <key>textureRect</key>
                <string>{{0,384},{32,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>LavaFall_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,384}</string>
                <key>spriteSourceSize</key>
                <string>{32,384}</string>
                <key>textureRect</key>
                <string>{{0,768},{32,384}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>LavaFall_.png</string>
            <key>size</key>
            <string>{32,1152}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faff372b7ff0f2f630f7aa5560aeb030:ef7392d75f4458feeba895441e6d83d9:50dca0c8fb81c1d6b4da5f552ab8cf05$</string>
            <key>textureFileName</key>
            <string>LavaFall_.png</string>
        </dict>
    </dict>
</plist>
