<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opossum_pain_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opossum_pain_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{36,0},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>opossum_pain_.png</string>
            <key>size</key>
            <string>{72,28}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0195569916ae4cdd77b7f1c506597e4b:99ec106dbb20959e40901dfe30792463:5ddea241acbb5f18549f04a8868ed99b$</string>
            <key>textureFileName</key>
            <string>opossum_pain_.png</string>
        </dict>
    </dict>
</plist>
