<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GunTrap_Fire_0_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GunTrap_Fire_1_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GunTrap_Fire_2_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{128,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GunTrap_Fire_3_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{192,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GunTrap_Fire_4_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{256,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GunTrap_Fire_5_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,32}</string>
                <key>spriteSourceSize</key>
                <string>{64,32}</string>
                <key>textureRect</key>
                <string>{{320,0},{64,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GunTrap_Fire_n.png</string>
            <key>size</key>
            <string>{384,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48af2dd302bc71638de5d202866ac66c:efd6e3080d3b23066bd184ee4f3ae513:840460adc2d1149a7add074b55c66ae5$</string>
            <key>textureFileName</key>
            <string>GunTrap_Fire_n.png</string>
        </dict>
    </dict>
</plist>
