<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fox_pain_pickaxe.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fox_pain_pickaxe.png</string>
            <key>size</key>
            <string>{33,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:faa7c6d742f5dcea54e650341c713e8a:c71f7d0909bb4ef7d7b36fbb3df33421:c6a61a30d1856d5a0b7063ae05a10111$</string>
            <key>textureFileName</key>
            <string>fox_pain_pickaxe.png</string>
        </dict>
    </dict>
</plist>
