<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player-idle-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-idle-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{33,0},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-idle-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{66,0},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player-idle-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{99,0},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fox_idle_.png</string>
            <key>size</key>
            <string>{132,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffab9bfea490ab6364ee6533d306821c:783b3b8dd5b0254dc34aa92dd309585c:aa0d6ae9ef410600e89870eddfcf4cfe$</string>
            <key>textureFileName</key>
            <string>fox_idle_.png</string>
        </dict>
    </dict>
</plist>
