<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skel_death_0_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skel_death_1_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skel_death_2_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{128,0},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skel_death_3_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{192,0},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skel_death_4_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{256,0},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skel_death_5_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{320,0},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skel_death_6_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,61}</string>
                <key>spriteSourceSize</key>
                <string>{64,61}</string>
                <key>textureRect</key>
                <string>{{384,0},{64,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skel_death_n.png</string>
            <key>size</key>
            <string>{448,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aae1add44ace4173f4fc75d3c00834cc:2d33d6450cf2e836fed5ffb3ccd78ac3:8983d0e38f5c738150872946cd63547e$</string>
            <key>textureFileName</key>
            <string>skel_death_n.png</string>
        </dict>
    </dict>
</plist>
