<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pickaxe_attack_up_0_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickaxe_attack_up_1_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{33,0},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pickaxe_attack_up_2_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{66,0},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fox_pickaxe_attck_up_n.png</string>
            <key>size</key>
            <string>{99,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d07416614a14c56f8c9ccb5eb2c75ad9:323957e8dce025a5dedee640783735fa:8280f4fb7dd5e272b00a8887f37b17d3$</string>
            <key>textureFileName</key>
            <string>fox_pickaxe_attck_up_n.png</string>
        </dict>
    </dict>
</plist>
