<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>opossum_death_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{0,0},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opossum_death_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{36,0},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opossum_death_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,28}</string>
                <key>spriteSourceSize</key>
                <string>{36,28}</string>
                <key>textureRect</key>
                <string>{{72,0},{36,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opossum_death_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{108,0},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opossum_death_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{144,0},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opossum_death_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{180,0},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opossum_death_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,31}</string>
                <key>spriteSourceSize</key>
                <string>{32,31}</string>
                <key>textureRect</key>
                <string>{{216,0},{32,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>opossum_death_.png</string>
            <key>size</key>
            <string>{252,31}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ce630de6c1af13bd6ee17d7013a39f5:d4fb797b0e60bc41c57bd20323513d7c:e0e53e9048c966d7f7ed957333a86e72$</string>
            <key>textureFileName</key>
            <string>opossum_death_.png</string>
        </dict>
    </dict>
</plist>
