<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frog_jump_2_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frog_jump2_n.png</string>
            <key>size</key>
            <string>{35,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:046cf3fff8008d80db0447f493fcd53c:d06aa5fe037846176dd414cac9ce566b:41ab2e810ff6a9d30665dfda809a5546$</string>
            <key>textureFileName</key>
            <string>frog_jump2_n.png</string>
        </dict>
    </dict>
</plist>
