<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frog_jump_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frog_jump1_.png</string>
            <key>size</key>
            <string>{35,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7cf6d6d9de0587433a4360e798cc1c5f:1953e5dfc1d733313d00f455a4d56d8e:de7328bd397d9032a61c50c0af9192c4$</string>
            <key>textureFileName</key>
            <string>frog_jump1_.png</string>
        </dict>
    </dict>
</plist>
