<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frog_pain_0_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frog_pain_1_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,32}</string>
                <key>spriteSourceSize</key>
                <string>{35,32}</string>
                <key>textureRect</key>
                <string>{{35,0},{35,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>frog_pain_n.png</string>
            <key>size</key>
            <string>{70,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9284a21b2474ebabd2c574b950f0ec20:234599935a0620c3f34c7d2daafccb90:fb3c0a76e3c7fffef0558abfaec6c22e$</string>
            <key>textureFileName</key>
            <string>frog_pain_n.png</string>
        </dict>
    </dict>
</plist>
