<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gun_jump2_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>anchor</key>
                <string>{0.5,0.5}</string>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,32}</string>
                <key>spriteSourceSize</key>
                <string>{33,32}</string>
                <key>textureRect</key>
                <string>{{0,0},{33,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fox_gun_jump2_n.png</string>
            <key>size</key>
            <string>{33,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edc0a36a4682f2fe5594eec32d8632d5:c489205fe36928edd5bbd9605b821b5d:0580110017cc7cc38b335d9d7eea7d66$</string>
            <key>textureFileName</key>
            <string>fox_gun_jump2_n.png</string>
        </dict>
    </dict>
</plist>
