<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire_Collide_Effect_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{0,0},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Collide_Effect_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{0,33},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Collide_Effect_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{0,66},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Collide_Effect_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{0,99},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Collide_Effect_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{0,132},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Fire_Collide_Effect_.png</string>
            <key>size</key>
            <string>{32,165}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:299805e49143ec29b919da6768c2656f:9e86789e5738a2efb0147cfc8af89030:2e617cadbef8b01cb2d688ad2e721c23$</string>
            <key>textureFileName</key>
            <string>Fire_Collide_Effect_.png</string>
        </dict>
    </dict>
</plist>
